body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

.container {
    flex: 1;
    width: 60%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container .fir{
    text-align: center;
    margin: 0 auto;
}
.center{
    text-align: center;
}
.center p:first-child{
    font-size: large;
    font-weight: bold;
}
.center p:second-child{
    font-size: small;
    font-weight: lighter;
}
.container ul{
    padding: 0;
}
.container li{
    display: flex;

}
.container a{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; /* 或者你想要的任何高度 */
      
    
    text-decoration: none;
    
}
.container li img{
    width: 45px;
}
.clickable-text {
    cursor: pointer;
    color: #0f0f10;
    text-decoration: underline;
    transition: color 0.3s ease;
    margin-bottom: 10px;
    display: block;
}

.clickable-text:hover {
    color: #2f8ce9;
}

.menu { 
    position: fixed;
    bottom: 0;
    width: 60%;
    background-color: #fff;
    
}
.menu ul{
    height: 40px;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
.menu a {
    color: grey;
    line-height: 40px;
    text-decoration: none;
    transition: color 0.3s ease;
    padding: 20px;
}

.menu a:hover {
    color: #ccc;
}